@import url(https://fonts.googleapis.com/css?family=Quicksand);
@import url(https://fonts.googleapis.com/css?family=Satisfy);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Quicksand";
  /* background-color: gray; */
}

/* img {
  width: 100%;
} */
a {
  text-decoration: none;
  transition: ease-in 0.3s;
}
/* ===============nav dong 1============= */
.container-nav {
  width: 100%;
  position: relative;
}

.container-nav-firstline {
  /* max-width: 1140px; */
  padding: 0% 13%;
  margin: auto;
  background-color: #4d8a54;
  /* color: white; */
  height: 45px;
  line-height: 45px;
  display: flex;
  justify-content: space-between;
  /* position: absolute; */
  z-index: 10;
}

.nav-firstline-right {
  display: flex;
  z-index: 100;
}

.icon-text {
  display: flex;
  align-items: center;
  padding: 0px 0px 0px 5px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.group-acc {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.dropdown-menu {
  display: none;
  flex-direction: column;
  box-shadow: 0px 0px 5px gray;
  position: absolute;
  top: 45px;
  right: 10px;
  padding: 0px 10px;
  z-index: 9999;
}
.group-acc-menu {
  /* max-width: 118px; */
  position: relative;
}

.right-account:hover .dropdown-menu {
  display: flex;
}

.right-account:hover a {
  text-decoration: none;
}
.dropdown-item {
  color: black;
}
.dropdown-item:hover {
  color: #4d8a54;
}

/* ==============nav dongf 2============ */
.nav-bar-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0% 20%;
  margin: auto;
  margin: 20px 0px;
}
.nav-bar-menu a {
  color: black;
}
.nav-bar-menu a:hover {
  color: #4d8a54;
}
.nav-bar-menu img {
  width: 150px;
}
.nav-item {
  display: flex;
  width: 30%;
  /* border: solid 1px black; */
  justify-content: space-between;
  font-size: 120%;
  font-weight: 700;
}
.nav-item span {
  color: black;
}
.nav-bar-menu-logo {
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.nav-bar-menu-right {
  width: 20%;
}
/* ============cover image========== */
.cover-img {
  background-image: url(../image/slider/xe3.jpg);
  background-position: center;
  height: 800px;
  display: flex;
  flex-direction: column;
}
.cover-img-bigtext {
  font-size: 500%;
  font-family: "Satisfy";
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0px 0px 20px black;
  padding-top: 380px;
}
.cover-img-smalltext {
  font-family: "Satisfy";
  font-size: 200%;
  display: flex;
  justify-content: center;
  text-shadow: 0px 0px 15px black;
}
/* ==========danh muc san pham========= */
.container-product-memu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 74%;
  /* border: solid 1px black; */
  margin: auto;
  
}
.container-product-memu p{
  color: black;
  margin: 20px 0px;
}
.title-product {
  text-transform: uppercase;
  font-size: 200%;
  margin: 30px 0px;
}
.title-product p {
  font-family: "Satisfy";
}
.product-menu-container {
  width: 17%;
  display: flex;
  flex-direction: column;
  text-align: center;
  /* border: solid 1px black; */
}
.product-menu-container p{
  font-family: "Satisfy";
  margin: 0px;
  /* font-size: 100%; */
}
.product-menu-container img{
  width: 90%;
  border-radius: 50%;
  /* border: solid 1px black; */
  margin: 10px 0px;
  transition: ease-in-out 0.3s;
}
.list-product-menu {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.product-menu-img {
  overflow: hidden;
}
.product-menu-container:hover img {
  box-shadow: 0px 0px 10px black;
  overflow: hidden;
  border-radius: 5%;
}
/* ============why chose pick============ */
.container-why img {
  width: 100%;
  margin-top: 30px;
  color: white;
}
.container-why p {
  margin: 0px;
}
.container-why {
  position: relative;
  /* background-image: url('../static/image/slider/why-chose.jpg'); */
}
.container-why2 {
  position: absolute;
  top: 10%;
  width: 50%;
  margin-left: 100px;
}
.why-content-container {
  position: absolute;
  top: 100px;
}
.content-title-img img{
  width: 50px;
  border-radius: 50%;
  overflow: hidden;
}
.why-content-p1 {
  margin-bottom: 30px;
}
.why-content-p1 .content-title{
  font-size: 350%;
  font-family: 'Satisfy';
  font-weight: 200%;
}
.why-content-p1 .content-content {
  font-size: 110%;
}

.content-p2-card {
  display: flex;
  align-items: center;
  /* border: solid 1px white; */
}
.content-title-img img{
  margin: 30px 10px;
}
.content-title-bigtext {
  font-size: 180%;
  font-family: 'Satisfy';
  font-weight: 200%;
}
/* ==============san pham noi bat============ */
.container-standout p{
  color: black;
}
.container-standout {
  width: 74%;
  margin: auto;
  /* border: solid 1px black; */
}
.standout-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.standout-card {
  width: 22%;
}
.standout-title p{
  text-align: center;
  margin: 30px 0px;
  font-family: 'Satisfy';
  font-size: 250%;
}
.standout-card img {
  width: 100%;
}
.standout-card-title {
  text-align: center;
}
.standout-card-title-name {
  text-transform: uppercase;
  font-weight: bold;

}
.see-more {
  /* text-align: center; */
  background-color: #4d8a54;
  width: fit-content;
  margin: auto;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin-top: 50px;
  transition: ease 0.3s;
  border: solid 1px #4d8a54;
}
.see-more p {
  color: white;
}
.see-more:hover {
  background-color: white;
  /* padding: 9px 10px; */
}
.see-more:hover p {
  color: #4d8a54;
}