<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BMI Caculator</title>
    <style>
        *{
            margin: 0px;
            padding: 0px;
            border-box: box-sizing;
        }

        .field-name{
            display: inline-block;
            width: 100px;
        }

        body{
            width: 1200px;
            margin: auto;
            margin-top: 20px;
        }

        .container{
            border: solid 1px;
            width: fit-content;
            margin: auto;
            padding: 30px;
        }

    </style>
</head>
<body>
<div class="container">
    <h2>BMI Caculator</h2>
    <p><b>Please enter your information:</b></p>

    <form action="#" th:action="@{/result}" th:object="${bmiRequest}" method="post"><br><br>
        <div class="field-name"><span>Name: </span></div>
        <input type="text" th:field="*{name}" placeholder="Your name"><br><br>
        <div class="field-name"><span>Age: </span></div>
        <input type="text" th:field="*{age}" placeholder="Your age"><br><br>
        <div class="field-name"><span>Weight (kg): </span></div>
        <input type="text" th:field="*{weight}" placeholder="Kg"><br><br>
        <div class="field-name"><span>Height (m): </span></div>
        <input type="text" th:field="*{height}" placeholder="m"><br><br>
        <input type="submit">
    </form>

    <p><span><b>Result: </b></span><span th:text="${bmi}"></span></p>
    <div th:if="${bmi} != null">
        <div><img
                src="https://vinmec-prod.s3.amazonaws.com/images/20190515_023453_074691_chi-so-BMI-phan-loa.max-1800x1800.png">
        </div>
        <div><a href="/">Back</a></div>
    </div>
</div>
</body>
</html>