<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cukcoo Motor - Where love begin</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="shortcut icon" href="https://www.flaticon.com/premium-icon/icons/svg/2264/2264768.svg"
        type="image/x-icon">
    <link rel="stylesheet" href="../static/css/home-page.css">
    <!-- <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Quicksand" /> -->

    <!-- Latest compiled and minified CSS -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->

    <!-- jQuery library -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->

    <!-- Popper JS -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script> -->

    <!-- Latest compiled JavaScript -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> -->
</head>

<body>
    <!-- ========nav menu========= -->
    <nav class="container-nav">
        <!-- ==========Nav dòng đầu============= -->
        <div class="container-nav-firstline">
            <div class="nav-firstline-left">
                <p class="icon-text"><em class="material-icons">settings_phone</em> Hotline: 19001009</p>
            </div>

            <div class="nav-firstline-right">
                <div class="right-search right-item">
                    <div class="group-acc">
                        <em class="material-icons">search</em>
                        <span class="icon-text nav-icon-right">Tìm kiếm</span>
                    </div>
                </div>
                <div class="right-account right-item">
                    <div class="group-acc-menu">
                        <div class="group-acc">
                            <em class="material-icons">account_circle</em>
                            <span class="icon-text nav-icon-right">Tài khoản</span>
                            <em class="material-icons">expand_more</em>
                        </div>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Đăng ký</a>
                            <a class="dropdown-item" href="#">Đăng nhập</a>
                        </div>
                    </div>
                </div>
                <div class="right-cart right-item">
                    <div class="group-acc">
                        <em class="material-icons">add_shopping_cart</em>
                        <span class="icon-text nav-icon-right">Giỏ hàng</span>
                    </div>
                </div>
            </div>
        </div>

        <!-- =============Nav dòng 2=========== -->
        <div class="container-nav-secondline">
            <div class="nav-bar-menu">
                <div class="nav-bar-menu-left nav-item">
                    <a href="#">Trang chủ</a>
                    <a href="#">Sản phẩm</a>
                </div>

                <div class="nav-bar-menu-logo nav-item">
                    <a href="#"><img src="../static/image/logo/logo02.png" alt="Cukcoo motor"></a>
                    <span>Cukcoo Motor</span>
                </div>

                <div class="nav-bar-menu-right nav-item">
                    <a href="#">Blog</a>
                    <a href="#">Liên hệ</a>
                </div>
            </div>
        </div>
    </nav>

    <!-- ==========cover image=========== -->
    <div class="cover-img">
        <p class="cover-img-bigtext">Nơi cảm nhận cuộc sống đích thực</p>
        <p class="cover-img-smalltext">Vì cuộc đời là những chuyến đi. Đi đâu, về đâu cũng phải an toàn!</p>
    </div>

    <!-- ========Danh mục sản phẩm========== -->
    <div class="container-product-memu">
        <div class="title-product">
            <p>danh mục sản phẩm</p>
        </div>
        <div class="list-product-menu">
            <div class="product-menu-container">
                <a href="#" class="product-menu-img">
                    <img src="../static/image/menu/xega.jpg" alt="Xe tay ga">
                </a>
                <div class="product-menu-name">
                    <p>Xe ga</p>
                </div>
            </div>
            <div class="product-menu-container">
                <a href="#" class="product-menu-img">
                    <img src="../static/image/menu/xeso.jpg" alt="Xe số">
                </a>
                <div class="product-menu-name">
                    <p>Xe số</p>
                </div>
            </div>
            <div class="product-menu-container">
                <a href="#" class="product-menu-img">
                    <img src="../static/image/menu/contay.jpg" alt="Xe côn tay">
                </a>
                <div class="product-menu-name">
                    <p>Xe côn tay</p>
                </div>
            </div>
            <div class="product-menu-container">
                <a href="#" class="product-menu-img">
                    <img src="../static/image/menu/electricbike.jpg" alt="Xe điện">
                </a>
                <div class="product-menu-name">
                    <p>Xe điện</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-why">

        <div class="why-img">
            <img src="../static/image/slider/why-chose.jpg" alt="Cukcoo motor">
        </div>
        <div class="container-why2">
            <div class="why-content-container">
                <div class="why-content-p1">
                    <p class="content-title">Tai sao chọn chúng tôi</p>
                    <p class="content-content">Từ những con người đam mê tốc độ và yêu cái đẹp. Chúng tôi cam kết sẽ đem đến cho bạn trải nghiệm
                        tuyệt vời nhất</p>
                </div>
                <div class="why-content-p2">
                    <div class="content-p2-card card1">
                        <div class="content-title-img">
                            <img src="../static/image/icon/money.png" alt="Giá tốt">
                        </div>
                        <div class="content-title title-p2">
                            <p class="content-title-bigtext" >Giá cả phải chăng</p>
                            <p>Cam kết đem đếm những sản phẩm chất lượng nhất với giá tốt nhất</p>
                        </div>
                    </div>
                    <div class="content-p2-card card2">
                        <div class="content-title-img">
                            <img src="../static/image/icon/service.png" alt="Hậu mãi tận tình">
                        </div>
                        <div class="content-title title-p2">
                            <p class="content-title-bigtext">Hậu mãi tận tình</p>
                            <p>Không chỉ trong thời gian bảo hành. Chúng tôi cam kết sẽ hỗ trợ ngay cả khi thời gian bảo
                                hành đã qua</p>
                        </div>
                    </div>
                    <div class="content-p2-card card3">
                        <div class="content-title-img">
                            <img src="../static/image/icon/present.png" alt="Quà tặng hấp dẫn">
                        </div>
                        <div class="content-title title-p2">
                            <p class="content-title-bigtext">Quà tặng hấp dẫn</p>
                            <p>Khách hàng mua xe sẽ được tặng những phần quà giá trị</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ========san pham noi bat============== -->
    <div class="container-standout">
        <div class="container-standout-inside">
            <div class="standout-title">
                <p>Xe nổi bật</p>
            </div>
            <div class="standout-card-container">
                <div class="standout-card">
                    <div class="standout-card-img">
                        <img src="https://cdn.honda.com.vn/motorbike-versions/April2020/zbPYsrfeAI9IMaSMP1QI.png" alt="cukcoo motor">
                    </div>
                    <div class="standout-card-title">
                        <p class="standout-card-title-name">Product name</p>
                        <p>Product price</p>
                    </div>
                </div>
                <div class="standout-card">
                    <div class="standout-card-img">
                        <img src="https://cdn.honda.com.vn/motorbike-versions/April2020/zbPYsrfeAI9IMaSMP1QI.png" alt="cukcoo motor">
                    </div>
                    <div class="standout-card-title">
                        <p class="standout-card-title-name">Product name</p>
                        <p>Product price</p>
                    </div>
                </div>
                <div class="standout-card">
                    <div class="standout-card-img">
                        <img src="https://cdn.honda.com.vn/motorbike-versions/April2020/zbPYsrfeAI9IMaSMP1QI.png" alt="cukcoo motor">
                    </div>
                    <div class="standout-card-title">
                        <p class="standout-card-title-name">Product name</p>
                        <p>Product price</p>
                    </div>
                </div>
                <div class="standout-card">
                    <div class="standout-card-img">
                        <img src="https://cdn.honda.com.vn/motorbike-versions/April2020/zbPYsrfeAI9IMaSMP1QI.png" alt="cukcoo motor">
                    </div>
                    <div class="standout-card-title">
                        <p class="standout-card-title-name">Product name</p>
                        <p>Product price</p>
                    </div>
                </div>
            </div>
            <div class="see-more">
                <p>Xem tất cả</p>
            </div>
        </div>
    </div>
    <!-- ========Phu tung noi bat==== -->
    <div class="container-standout">
        <div class="container-standout-inside">
            <div class="standout-title">
                <p>Phụ tùng nổi bật</p>
            </div>
            <div class="standout-card-container">
                <div class="standout-card">
                    <div class="standout-card-img">
                        <img src="https://cdn.honda.com.vn/motorbike-versions/April2020/zbPYsrfeAI9IMaSMP1QI.png" alt="cukcoo motor">
                    </div>
                    <div class="standout-card-title">
                        <p class="standout-card-title-name">Product name</p>
                        <p>Product price</p>
                    </div>
                </div>
                <div class="standout-card">
                    <div class="standout-card-img">
                        <img src="https://cdn.honda.com.vn/motorbike-versions/April2020/zbPYsrfeAI9IMaSMP1QI.png" alt="cukcoo motor">
                    </div>
                    <div class="standout-card-title">
                        <p class="standout-card-title-name">Product name</p>
                        <p>Product price</p>
                    </div>
                </div>
                <div class="standout-card">
                    <div class="standout-card-img">
                        <img src="https://cdn.honda.com.vn/motorbike-versions/April2020/zbPYsrfeAI9IMaSMP1QI.png" alt="cukcoo motor">
                    </div>
                    <div class="standout-card-title">
                        <p class="standout-card-title-name">Product name</p>
                        <p>Product price</p>
                    </div>
                </div>
                <div class="standout-card">
                    <div class="standout-card-img">
                        <img src="https://cdn.honda.com.vn/motorbike-versions/April2020/zbPYsrfeAI9IMaSMP1QI.png" alt="cukcoo motor">
                    </div>
                    <div class="standout-card-title">
                        <p class="standout-card-title-name">Product name</p>
                        <p>Product price</p>
                    </div>
                </div>
            </div>
            <div class="see-more">
                <p>Xem tất cả</p>
            </div>
        </div>
    </div>
</body>

</html>